
#backgr{
  background: url('../upload_image/bernice.jpg');
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
 
}
#maintenance{
  background: url('../maintenance/maintenance01.png');
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
 
}